<div ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
	<section class="photo couples-photo">
		<ul>
			<li>
				<img class="img-circle" src="img/photos/maggie-and-peter-01.jpg" />
			</li>
		</ul>
		<div class="rings">
			<img class="img-circle" src="img/rings.jpg" />
		</div>
	</section>

	<section class="text-wrapper">
		<h3>Where to stay</h3>
		
		<h4>Woodward Manor</h4>
		
		<p>The affordable and divine <a href="http://www.woodwardmanormalawi.com/">bed and breakfast</a>. Rates are $80 per night for the two double rooms and $50 per night for the two twin bed rooms. Note that the two twin bed rooms share one bathroom whilst the double are ensuite. All rates include breakfast. When we book the whole house we will get a 15% discount which bring the cost of the rooms to $220 per night</p>

    <h4>Chilembe Lodge</h4>

    <p>These are the rates at Chilembwe lodge - <a href="http://www.chilembwelodge.net/index.html">http://www.chilembwelodge.net/index.html</a></p>

    <ul>
      <li>Standard Single - 12,000 (One single person) - $33.99</li>
      <li>Superior Single  - 15,000  -  room with 1 comfortable double or single bed, depending on choice (if you choose the double bed, a couple can share this) - $42</li>
      <li>Superior double - 17,000 - Room with 2 comfortable double or single bed, depending on choice (2 people can share this) - $48</li>
      <li>Deluxe Double - 23,000 - A king size bed - this is for sharing $65</li>
    </ul>

    <p>The price includes bread and breakfast. Please can I kindly ask you dont contact the place yourself as you will be charged international rates.
    </p>
	</section>
</div>
