<div ng-animate="{enter: 'view-enter', leave: 'view-leave'}">
	<section class="photo couples-photo">
		<ul>
			<li>
				<img class="img-circle" src="img/photos/maggie-and-peter-01.jpg" />
			</li>
		</ul>
		<div class="rings">
			<img class="img-circle" src="img/rings.jpg" />
		</div>
	</section>

	<section class="text-wrapper">
		<h3>Where to stay</h3>
		
		<h4>Woodward Manor</h4>
		
		<p>The affordable and divine <a href="http://www.woodwardmanormalawi.com/">bed and breakfast</a>. Rates are $80 per night for the two double rooms and $50 per night for the two twin bed rooms. Note that the two twin bed rooms share one bathroom whilst the double are ensuite. All rates include breakfast. When we book the whole house we will get a 15% discount which bring the cost of the rooms to $220 per night</p>

	</section>
</div>