<section class="photo">
  <ul>
    <li>
      <img class="img-circle" src="img/photos/maggie-baby-01.jpg" />
    </li>
    <li>
      <img class="img-circle" src="img/photos/peter-baby-01.jpg" />
    </li>
  </ul>
  <div class="rings">
    <img class="img-circle" src="img/rings.jpg" />
  </div>
</section>

<section class="text-wrapper">
  <p id="home" class="drop-cap">
    We are getting married on the 21st of December and we are so excited about it. Please find the details of our wedding below and let us know if you will be coming
  </p>
</section>
