<section class="photo row-fluid">
  <ul class="centred span6">
    <li class="span3">
      <img class="img-circle" src="img/photos/maggie-02.jpg" />
    </li>
    <li class="span3">
      <img class="img-circle" src="img/photos/peter-02.jpg" />
    </li>
  </ul>
  <div class="rings span12">
    <img class="img-circle" src="img/rings.jpg" />
  </div>
</section>

<section class="gallery-container row-fluid">
  <ul id="our-photos" class="thumbnails span10 centred">
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-01.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-01.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-02.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-02.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-03.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-03.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-05.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-05.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-06.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-06.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-07.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-07.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-08.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-08.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-09.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-09.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-11.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-11.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-12.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-12.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-13.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-13.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-14.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-14.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-15.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-15.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-16.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-16.jpg" alt="" />
      </a>
    </li>
    <li class="span2">
      <a href="img/photos/couple-thumbnails/maggie-and-peter-17.jpg" class="thumbnail">
        <img src="img/photos/couple-thumbnails/maggie-and-peter-17.jpg" alt="" />
      </a>
    </li>
  </ul>
</section>
