<section class="photo couples-photo">
  <ul>
    <li>
      <img class="img-circle" src="img/photos/maggie-and-peter-03.jpg" />
    </li>
  </ul>
  <div class="rings">
    <img class="img-circle" src="img/rings.jpg" />
  </div>
</section>

<section class="text-wrapper">
  <p id="home" class="drop-cap">
    We are getting married on the 21st of December in Blantyre, Malawi and we are so excited about it. Please find the details of our wedding below and let us know if you will be coming.
  </p>

	<h3>R.S.V.Please</h3>
	
  <p>
   After the church ceremony, we will have an intimate dinner for friends and family. As per your invite, you can RSVP by emailing or texting either of the numbers provided. Please keep checking this space for menu option closer to the time. We thank you for being part of our wedding celebration.
  </p>

  <p>
    You can get in touch with us[at]maggieandpeter[dot]com
  </p>
</section>
