<section class="photo row-fluid">
  <ul class="centred span6">
    <li class="span3">
      <img class="img-circle" src="img/photos/maggie-01.jpg" />
    </li>
    <li class="span3">
      <img class="img-circle" src="img/photos/peter-01.jpg" />
    </li>
  </ul>
  <div class="rings span12">
    <img class="img-circle" src="img/rings.jpg" />
  </div>
</section>

<section class="text-wrapper">
  <h3 id="story">Story</h3>

  <p class="drop-cap">
    The first date that we went on was in Oxford, UK. We ate Japanese food for lunch and freshly made cookies for dessert as our hearts beat in tune with our footsteps on the cobbled stone.
    That evening we waited in the warmth of Starbucks for the last bus because neither of us wanted that day to end. Soon we will get our wish.
  </p>
</section>

<section>
  <div class="timeline clearfix">
    <div class="mid-line"></div>
    <div class="time-header info">
      Our first date
    </div>
    
    <ul class="span10 centred">
      <li class="media left">
        <i class="media-arrow"></i>
        <a class="pull-right" href="img/photos/oxford/oxford-01.JPG">
          <img class="media-object" alt="Rendezvous in Oxford" src="img/photos/oxford-thumbnails/oxford-01.JPG">
        </a>
        <div class="media-body">
          <h4>We met</h4>
          Peter travelled from High Wycombe and Maggie from Milton Keynes to meet in Oxford.
          We met in between the Boots pharmacy and the Vodafone store.
        </div>
      </li>
      <li class="media right">
        <i class="media-arrow"></i>
        <a class="pull-left" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-08.JPG">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Lunch</h4>
          Maggie ordered duck because that is what she always gets at Wagama. Peter had the udon noodles.
        </div>
      </li>
      <li class="media left">
        <i class="media-arrow"></i>
        <a class="pull-right" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-07.JPG">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Indoor market</h4>
          We went for a walk inside an indoor market..
        </div>
      </li>
      <li class="media right">
        <i class="media-arrow"></i>
        <a class="pull-left" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-03.JPG">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Ben's cookies</h4>
          ..where we found Ben's cookies. It is a delicatessen that makes soft dough cookies on the spot. We had 
					white chocolate and oatmeal cookies.
        </div>
      </li>
      <li class="media left">
        <i class="media-arrow"></i>
        <a class="pull-right" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-05.JPG">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Tea and coffee</h4>
          We sat down with our desserts..
        </div>
      </li>
      <li class="media right">
        <i class="media-arrow"></i>
        <a class="pull-left" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-04.JPG">
        </a>
        <div class="media-body">
          ..for some tea and coffee.
        </div>
      </li>
      <li class="media left">
        <i class="media-arrow"></i>
        <a class="pull-left" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-12.JPG">
        </a>
        <div class="media-body">
					<h4 class="media-heading">Clock tower</h4>
          As we walked around the town we took a photograph in front of this clock tower.
        </div>
      </li>
      <li class="media right">
        <i class="media-arrow"></i>
        <a class="pull-left" href="#">
          <img class="media-object" alt="64x64" src="img/photos/oxford-thumbnails/oxford-10.JPG">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Starbucks</h4>
          We waited in Starbucks for the last bus to High Wycombe because the bus to Oxford was much later. We didn't
					want the day to end.
        </div>
      </li>
    </ul>
  </div>
</section>
