<section class="photo couples-photo">
  <ul>
    <li>
      <img class="img-circle" src="img/photos/maggie-and-peter-02.jpg" />
    </li>
  </ul>
  <div class="rings">
    <img class="img-circle" src="img/rings.jpg" />
  </div>
</section>

<section class="text-wrapper">  
	<h3>Getting here</h3>
	
  <p class="drop-cap">
	Malawi has two international airports : Chileka in Blantyre City and Kamuzu International Airport in Lilongwe City. <a href="http://www.ethiopianairlines.com/">Ethiopia Airline</a>, <a href="http://kenya-airline.com/">Kenya Airways</a> and <a href="http://www.flysaa.com/">South African Airways</a> are the three lines that will get you into Malawi. But if you want to buy tickets we recommend that you use a comparison engine like <a href="http://www.kayak.co.uk/">kayak.com</a>.
  </p>

  <h4>Flying</h4>
  
  <p>
	 <b>To Lilongwe:</b> If you are arriving in Lilongwe, you will need to take a coach to Blantyre which is 4 hours away and is very comfortable. The prices range from MWK 4000 – MWK 8000 depending on whether you take the deluxe or the executive: either of which is comfortable. If you need a lift from the airport to the coach station please let us know your itinerary.
  </p>
  
  <p><b>To Blantyre:</b> The airport is only an hours drive from the town so as above, let us know your itinerary and we can give you a warm Malawian welcome upon your arrive. :-)
  </p>
  
  <h4>Driving</h4>
  
  <p><b>From Tanzania:</b> duration 2 days. You will be driving in from the North of Malawi. It’s a scenic route and the road is relatively good. You will pass the capital Lilongwe and then down to Blantyre.</p>

	<p><b>From South Africa/ Zimbabwe:</b> This trip will take you 2 days. Day 1 you will be arriving via the Mwanza Border which is 1 hour’s drive from Blantyre city. Please share your expected arrival times and we make sure there is someone at the border waiting for you. If you are using public transport, you can clear immigration and not have to wait for everyone on the coach to be cleared.</p>
	
	<p><b>Note:</b> It is important that you make provisions to ensure that you have arrived at the Mwanza border by 17:30 as the border closes at 18:00. This is particularly important if you are in a private car as the car will not be allowed to enter until the next day. In the case of public transport, you can clear through immigration as stated above and we will collect you from the border.</p>

	<p>Should you be driving privately, please take note of the road condition after Tete Mozambique to Zobwe Mozambique (the border on the Malawi side). The road has not been maintained and is likely to add some time your journey. In the case you are travelling back to South Africa after the wedding; you will need to ensure that you can a minimum of U$300 stamped in each traveller’s passport to enter South Africa.</p>
	
	<h4>Things you might want to take note of</h4>

	<ul>
		<li>December is a wet month. With global warming its hard to predict whether the weather will stick to convention wisdom but its worth taking note that it might be wet.</li>
		<li>Anti-Malaria – There are mosquitoes, especially in the lake shore district. We ask that you consult your travel nurses for some anti- malaria therapies and also take some insect repellent as a precaution.</li>
		<li>Yellow Fever – At times the airport officials will ask for your yellow fever card. There doesn’t seem to be set criteria but we would advise that you bring these with you to err on the side of caution</li>
		<li>Dress Code – Generally Malawians are easy going and very open to different dress codes. Ladies, however, you have to be careful with the length of your outfits if you are walking in town, especially in crowded markets. For garments that are short i.e. mini-skirts, mini-shorts etc, we would advise that you wear some tights inside.</li>
	</ul>
</section>
